{%extends 'base.html'%}
{%load static%}

{%block 'title'%}<title>MasTec Disclaimer Búsqueda De Sitio</title>{%endblock%}


{%block 'content'%}

	<div class="row"><!-- row2 Dashboard style="margin-top: 48px;"-->
      
      <ol class="breadcrumb" style="margin-top: 58px;">
        <li><a href="{% url 'Inicio' %}">Inicio</a></li>
        <li><a href="{% url 'Disclaimer:index-disclaimer' %}">Disclaimer</a></li>
        <li class="active">{{region}}</li>
      </ol>

      <h1 class="text-center">Proyecto Disclaimer. Sitios Región {{region}}</h1>

      <div class="table-responsive"><!-- table-responsive -->
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Site Id</th>
                  <th>Site Name</th>
                  <th>Región</th>
                  <th>Coord. MasTec</th>
                  <th>CellOwner</th>
                </tr>
              </thead>
              <tbody>
                
                {% for sitio in sitios %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{sitio.idatt_mastec}}</td>
                    <td>{{sitio.nombre_sitio}}</td>
                    <td>{{sitio.region}}</td>
                    <td>{{sitio.coordinador_mastec}}</td>
                    <td>{{sitio.cellowner}}</td>
                  </tr>
                {% endfor %}
              </tbody>
           </table>
      </div><!-- /table-responsive -->
      
      <div class="pagination">
        <span class="step-links">
          {% if sitios.has_previous %}
              <a href="?page={{ sitios.previous_page_number }}">Previa</a>
          {% endif %}

          <span class="current">
              Página {{ sitios.number }} De {{ sitios.paginator.num_pages }}.
          </span>

          {% if sitios.has_next %}
              <a href="?page={{ sitios.next_page_number }}">Siguiente</a>
          {% endif %}
        </span>
      </div>


  </div><!-- /row2 Dashboard-->


{%endblock%} <!-- Termina bloque content -->