{%extends '../base.html'%}
{%load static%}

{%block 'title'%}<title>MasTec Disclaimer Sitio {{sitio.nombre_sitio}} </title>{%endblock%}


{%block 'content'%}
detallesitio_disclaimer.html
	<div class="row"><!-- row2 Dashboard style="margin-top: 48px;"-->
      
      <ol class="breadcrumb" style="margin-top: 58px;">
        <li><a href="{% url 'Inicio' %}">Inicio</a></li>
        <li><a href="{% url 'Disclaimer:index-disclaimer' %}">Disclaimer</a></li>
        <li class="active">Sitio 
          {% if status.idatt_mastec or status.idatt_mastec == "0" %}
            {{sitio.idatt_mastec}} 
          {% endif %}
          {{sitio.nombre_sitio}}
        </li>
      </ol>

      <h1 class="text-center">
        {% if status.idatt_mastec or status.idatt_mastec == "0" %}
            {{sitio.idatt_mastec}} 
          {% endif %}
           {{sitio.id3g}} {{sitio.nombre_sitio}}</h1>
  
    <h3 class="text-left"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> ID's</h3>
      <div class="table-responsive"><!-- table-responsive -->
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>IDATT</th>
                  <th>ID3G</th>
                  <th>IDGSM</th>
                  <th>IDLTE</th>
                  <th>IDiDEN</th>
                  <th>SITE NAME</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>
                        {% if status.idatt_mastec or status.idatt_mastec == "0" %}
                          {{sitio.idatt_mastec}} 
                        {% endif %}
                    </td>
                    <td>{{sitio.id3g}}</td>
                    <td>{{sitio.idgsm}}</td>
                    <td>{{sitio.idlte}}</td>
                    <td>{{sitio.ididen}}</td>
                    <td>{{sitio.nombre_sitio}}</td>
                  </tr>
              </tbody>
           </table>
      </div><!-- /table-responsive -->  





  <h3 class="text-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Datos Generales</h3>
  <div class="table-responsive"><!-- table-responsive -->
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>Región</th>
                  <th>Prioridad</th>
                  <th>Latitud</th>
                  <th>Longitud</th>
                  <th>CellOwner</th>
                  <th>Cell Owner Tel</th>
                  <th>Comentario ATT</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{sitio.region}}</td>
                    <td>{{sitio.prioridad}}</td>
                    <td>
                      <a href="http://maps.google.com/?q={{sitio.lat_decimal}},{{sitio.long_decimal}}" target="_blank">
                        {{sitio.lat_decimal}}
                      </a>
                    </td>
                    <td>
                      <a href="http://maps.google.com/?q={{sitio.lat_decimal}},{{sitio.long_decimal}}" target="_blank">
                        {{sitio.long_decimal}}
                      </a>
                    </td>
                    <td>{{sitio.cellowner}}</td>
                    <td>{{sitio.telefono_cellowner}}</td>
                    <td>{{sitio.comentarios_att}}</td>
                  </tr>
              </tbody>
           </table>
      </div><!-- /table-responsive -->



      
      <p>
        {% if status.avance %}
          <b>Avance:</b> {{status.avance}}% </p>
        {% else %}
          <b>Avance:</b> 0 % </p>
        {% endif %}

      <div class="progress">
                      <div class="progress-bar progress-bar-success" style="width: {{status.avance}}%">
                        <span class="sr-only">{{status.avance}}% Complete (success)</span>
                      </div>
      </div>
      <p><b>Proveedor:</b> {{mantenimiento.get_proveedor_display}} </p> 


      Ver en <a href="http://maps.google.com/?q={{sitio.lat_decimal}},{{sitio.long_decimal}}" target="_blank"> <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Google Maps</a>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1.- Status:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><b>Ultima Actividad:</b> {{status.ultima_actividad}} </p> 
        <p><b>Status:</b> 
            {% if status.get_status_display == 'Cancelado' %}

            {% else %}
              {{status.get_status_display}}
            {% endif %}    
        </p> 
        <p>
          {% if status.avance %}
            <b>Avance:</b> {{status.avance}}%
          {% else %}
            <b>Avance:</b> 0 % 
          {% endif %}
        </p>
        <p><b>Contratista:</b> {{mantenimiento.get_proveedor_display}} </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-primary" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2.- Levantamiento:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p><b>Semana Programada AT&T:</b> {{status.ultima_actividad}} </p> 
        <p><b>Fecha Programada AT&T:</b> {{status.get_status_display}} </p>
        <p><b>Fecha Ejecución:</b> {{status.avance}}% </p>
        <p><b>Levantado Por:</b> {{status.avance}}% </p>
        <p><b>Nota:</b> {{status.avance}}% </p>
        <p><b>Recibido Por MasTec:</b> {{status.avance}}% </p>
        <p><b>Validado por AT&T:</b> {{status.avance}}% </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3.- Programa De Obra
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <p><b>Proveedor:</b> {{mantenimiento.get_proveedor_display}} </p> 
        <p><b>Supervisor:</b> {{mantenimiento.get_supervisor_display}} </p>
        <p><b>Cuadrilla:</b> {{mantenimiento.cuadrilla}}</p>
        <p><b>Semana Inicio Programado AT&T:</b> {{mantenimiento.cos_sem_att}}% </p>
        <p><b>Inicio Programado AT&T:</b> {{mantenimiento.cos_programado}}% </p>
        <p><b>Inicio Real:</b> {{mantenimiento.cos_real}}% </p>
        <p><b>Semana Fin Programado:</b> {{mantenimiento.cof_sem_att}}% </p>
        <p><b>Fecha Fin Programado:</b> {{mantenimiento.cof_programado}}% </p>
        <p><b>Fecha Fin Real:</b> {{mantenimiento.real}}% </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4.- Volumétrico:
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

  </div><!-- /row2 Dashboard-->

  

{%endblock%} <!-- Termina bloque content -->